body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: gold;
  padding: 20px;
}
input, textarea, button {
  padding: 12px;
  margin: 8px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}
button {
  background: gold;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
button:hover { background: #ffd700; }
.ticker {
  background: red;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}
#normalNums { color: lime; }
hr { border: 1px solid gold; margin: 20px 0; }
